.vscode/**
.vscode-test/**
.husky/**
.github/**
src/**
node_modules/**
out/**
test/**
.gitignore
.eslintrc.json
.prettierrc
eslint.config.mjs
tsconfig.json
webpack.config.js
vsc-extension-quickstart.md
npm-debug.log
*.vsix
.env
.env.local
